@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 100px;
  margin-bottom: 60px;
}

.navbar-fixed-top {
  z-index: 99999;
}

/* template header */
.navbar-default .navbar-brand{
  font-size:21px;
  font-weight:bold;
}

.navbar-header{
  /*background-color: #000;*/
  width:100%;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 270px;
  z-index: 1000; }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px; }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px; }
  .ol-popup .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px; }
    .ol-popup .ol-popup-closer:after {
      content: "✖"; }
    .ol-popup .ol-popup-closer:hover {
      text-decoration: none; }



/*
 * Footer
 */

 .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

