{% extends 'base.html' %}

{% load static  %}

{% block menu_colheita %}active{% endblock menu_colheita %}

{% block content %}


<div class="container">
	{% include 'messages.html' %}
	<h3>Venda</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Listar</a></li>
		<li role="presentation"><a href="{% url 'venda_cadastrar' %}">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<table class=table> 
		<!-- <caption>Optional table caption.</caption> -->
		<thead> 
			<tr>
				<th>Lote</th>
				<th>Data</th> 
				<th>Origem</th> 
				<th>Produto</th>
				<th>Unidades Vendidas</th> 
				<th>Valor Total</th>
				<th>Gerenciar</th> 
			</tr> 
		</thead> 
		<tbody> 
			{% for lote in lote %}
			<tr> 
				{% if lote.origem == "1" %}
					<th scope=row>{{ lote.lote_colheita.lote_plantio.lote }}.{{ lote.lote_colheita.lote }}.{{ lote.lote }}</th> 
					<td>{{ lote.data_venda }}</td> 
					<td>{{ lote.get_origem_display }}</td> 
					<td>{{ lote.lote_colheita.lote_plantio.produto }}</td> 
					<td>{{ lote.quantidade }} {{ lote.lote_colheita.get_tipo_unidade_display }}</td> 
				{% else %}
					<th scope=row>{{ lote.lote_compra.lote }}.{{ lote.lote }}</th> 
					<td>{{ lote.data_venda }}</td> 
					<td>{{ lote.get_origem_display }}</td> 
					<td>{{ lote.lote_compra.produto }}</td> 
					<td>{{ lote.quantidade }} {{ lote.lote_compra.get_tipo_unidade_display }}</td> 

				{% endif %}

				<td>R$ {{ lote.valor_total }}</td> 

				<td>
					{% if lote.status_lote == "1" %}
					<a href="{% url 'venda_fechar_abrir' lote.id %}" onclick="return confirm('Fechar/arquivar lote?')"><img src="{% static 'img/archive.png' %}" alt="fechar lote"></a>
					{% else %}
					<a href="{% url 'venda_fechar_abrir' lote.id %}" onclick="return confirm('Reabrir lote?')"><img src="{% static 'img/open.png' %}" alt="reabrir lote"></a>
					{% endif %}	
					<a href="{% url 'venda_editar' lote.id %}"><img src="{% static 'img/edit.png' %}" alt="editar"></a>
					<a href="{% url 'venda_remover' lote.id %}" onclick="return confirm('Remover lote?')"><img src="{% static 'img/delete.png' %}" alt="apagar"></a>
				</td>
			</tr> 
			{% endfor %}

		</tbody> 
	</table> 


</div>

{% endblock content %}