{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block 'titulo' %}Sistema Georreferenciado de Gerenciamento Agrícola{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'openlayers/v3.18.2/ol.css' %}" />
	<link rel="stylesheet" href="{% static 'css/app.css' %}">

	{% block extra_css %}{% endblock extra_css %}

</head>
<body data-static-url="/static/">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'index' %}">
					SEGREGA - Sistema Georreferenciado de Gerenciamento Agrícola
				</a>
			</div>
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown">
					<a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Cadastros <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'clientefornecedor_listar' %}">Clientes/Fornecedores</a></li>
						<li><a href="{% url 'equipamento_listar' %}">Equipamentos</a></li>
						<li><a href="{% url 'insumo_listar' %}">Insumos</a></li>
						<li><a href="{% url 'mdo_listar' %}">Mão de Obra</a></li>
						<li><a href="{% url 'produto_listar' %}">Produtos</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Ciclo de Produção <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="{% block menu_preparo %}{% endblock menu_preparo %}"><a href="{% url 'preparosolo_listar' %}">Preparo do Solo</a></li>
						<li class="{% block menu_adubacao %}{% endblock menu_adubacao %}"><a href="{% url 'adubacao_listar' %}">Adubação</a></li>
						<li class="{% block menu_fito %}{% endblock menu_fito %}"><a href="{% url 'fitossanidade_listar' %}">Fitossanidade</a></li>
						<li class="{% block menu_semeio %}{% endblock menu_semeio %}"><a href="{% url 'semeio_listar' %}">Semeio</a></li>
						<li class="{% block menu_plantio %}{% endblock menu_plantio %}"><a href="{% url 'plantio_listar' %}">Plantio</a></li>
						<li class="{% block menu_colheita %}{% endblock menu_colheita %}"><a href="{% url 'colheita_listar' %}">Colheita</a></li>
						
					</ul>
				</li>
				<li class="{% block menu_mapa %}{% endblock menu_mapa %}"><a href="{% url 'mapa' %}">Mapa</a></li>
				<li class="{% block menu_relatorio %}{% endblock menu_relatorio %}"><a href="#">Relatórios</a></li>

				<li class="dropdown">
					<a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Comercialização <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="{% block menu_compra %}{% endblock menu_compra %}"><a href="{% url 'compra_listar' %}">Compra</a></li>
						<li class="{% block menu_comercializacao %}{% endblock menu_comercializacao %}"><a href="{% url 'venda_listar' %}">Venda</a></li>
					</ul>
				</li>
				

			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if request.user.is_anonymous %}

				<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				{% else %}
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ request.user.first_name }} {{ request.user.last_name }}</a></li>
				{% if user.is_staff %}
				<li><a href="/admin/" target="_blank">Admin</a></li>
				{% endif %}
				<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	
	{% block _content %}
	{% block content %}
	
	{% endblock %}
	{% endblock %}

	<footer class="footer">
		<div class="container">
			<p class="text-muted"></p>
		</div>
	</footer>

<script src="{% static 'openlayers/v3.18.2/ol-debug.js' %}"></script>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
