{% extends 'base.html' %}

{% load static  %}

{% block content %}


<div class="container">
	<h3>Entrar</h3>
	<form method="POST" class="form-horizontal">{% csrf_token %}
  		<fieldset>
			
			<div class="form-group">
				<label for="local" class="col-sm-3 control-label">Email</label>
				<div class="col-sm-4">
					{{ form.username }}
				</div>
			</div>
			<div class="form-group">
				<label for="tipo_local" class="col-sm-3 control-label">Senha</label>
				<div class="col-sm-4">
					 {{ form.password }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-3">
					<button type="submit" class="btn btn-primary">Entrar</button>
				</div>
			</div>

		</fieldset>
	</form>

</div>

{% endblock content %}