{% extends 'base.html' %}
{% load static  %}

{% block menu_mapa %}active{% endblock menu_mapa %}

{% block content %}
<div class="container-fluid" style="padding-left: 0px; padding-right: 0px">

	<div id="map" >

		<div id="popup" class="ol-popup">
			<a href="#" id="popup-closer" class="ol-popup-closer"></a>
			<div id="popup-content"></div>
		</div>

	</div>

	
</div>
{% endblock content %}

{% block extra_js %}

<span id="latitude" > {{ propriedade.geom.centroid.y|safe }}</span>
<span id="longitude"  > {{ propriedade.geom.centroid.x|safe }}</span>

<script src="{% static 'openlayers/v3.18.2/ol.js' %}"></script>
<script src="{% static 'js/mapa.js' %}"></script>

{% endblock extra_js %}
