{% extends 'base.html' %}

{% load static  %}

{% block menu_relatorio %}active{% endblock menu_relatorio %}

{% block content %}


<div class="container">

	<h3>Relatório Talhão/Gleba</h3>

	<p>&nbsp;</p>


	<p>&nbsp;</p>
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			{% for field in form %}
				{% for error in field.errors %}
						<p><strong>{{ error|escape }}</strong></p>
				{% endfor %}
			{% endfor %}
		</div>
	{% endif %}

	<form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="tipo_preparo" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="id_praga_doenca" maxlength="250" name="praga_doenca" type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="talhao" class="col-sm-2 control-label">Talhão/Gleba</label>
			<div class="col-sm-3">
				{{ form.talhao_gleba }}
			</div>
		</div>



		<button type="submit" class="btn btn-primary">Exibir Relatório</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>

<script src="{% static 'js/formset.js' %}"></script>

<script type="text/javascript">
$(function() {

	initFormSets({prefixes:['preparo']});

	$(".date-picker").datepicker();
	
});
</script>

{% endblock extra_js %}