{% extends 'base.html' %}

{% load static  %}

{% block menu_produtos %}active{% endblock menu_produtos %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock extra_css %}


{% block content %}


<div class="container">

	<h3>Clientes/Fornecedores</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'clientefornecedor_listar' %}">Listar</a></li>
		<li role="presentation" class="active"><a href="#">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="propriedade" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="propriedade" maxlength="250" name="propriedade"  type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="tipo" class="col-sm-2 control-label">Tipo</label>
			<div class="col-sm-3">
				{{ form.tipo }}
			</div>
		</div>
		<div class="form-group">
			<label for="tipo_pessoa" class="col-sm-2 control-label">Tipo Pessoa</label>
			<div class="col-sm-3">
				{{ form.tipo_pessoa }}
			</div>
		</div>
		<div class="form-group">
			<label for="razao_social" class="col-sm-2 control-label">Razão Social</label>
			<div class="col-sm-5">
				{{ form.razao_social }}
			</div>
		</div>
		<div class="form-group">
			<label for="nome_fantasia" class="col-sm-2 control-label">Nome Fantasia</label>
			<div class="col-sm-5">
				{{ form.nome_fantasia }}
			</div>
		</div>
	

		<button type="submit" class="btn btn-primary">Cadastrar Cliente/Fornecedor</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

{% block extra_js %}

	{{ form.media }}

{% endblock %}