{% extends 'base.html' %}

{% load static  %}

{% block menu_produto %}active{% endblock menu_produto %}

{% block content %}


<div class="container">
	<p>
	{% include 'messages.html' %}
	<h3>Equipamentos</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Listar</a></li>
		<li role="presentation"><a href="{% url 'equipamento_cadastrar' %}">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<table class=table> 
		<!-- <caption>Optional table caption.</caption> -->
		<thead> 
			<tr>
				<th>#</th>
				<th>Equipamento</th> 
				<th>Fabricante</th> 
				<th>Valor inicial</th>
				<th>Custo hora</th>
				<th>Gerenciar</th> 
			</tr> 
		</thead> 
		<tbody> 
			{% for p in equipamento %}
			<tr> 
				<th scope=row>{{ p.id }}</th> 
				<td>{{ p.equipamento }}</td> 
				<td>{{ p.fabricante }}</td>
				<td>{{ p.valor_inicial }}</td> 
				<td>{{ p.custo_hora }}</td>

				<td>
					<a href="{% url 'equipamento_editar' p.id %}"><img src="{% static 'img/edit.png' %}" alt="editar"></a>
					<a href="{% url 'equipamento_remover' p.id %}" onclick="return confirm('Apagar registro?')"><img src="{% static 'img/delete.png' %}" alt="apagar"></a>
				</td> 
			</tr> 
			{% endfor %}

		</tbody> 
	</table> 


	</div>

	{% endblock content %}