{% extends 'base.html' %}

{% load static  %}

{% block menu_produtos %}active{% endblock menu_produtos %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock extra_css %}


{% block content %}


<div class="container">

	<h3>Equipamentos</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'equipamento_listar' %}">Listar</a></li>
		<li role="presentation" class="active"><a href="#">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="propriedade" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="id_praga_doenca" maxlength="250" name="praga_doenca" type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="equipamento" class="col-sm-2 control-label">Equipamento</label>
			<div class="col-sm-3">
				{{ form.equipamento }}
			</div>
		</div>
		<div class="form-group">
			<label for="fabricante" class="col-sm-2 control-label">Fabricante</label>
			<div class="col-sm-3">
				{{ form.fabricante }}
			</div>
		</div>
		<div class="form-group">
			<label for="valor_inicial" class="col-sm-2 control-label">Valor Inicial</label>
			<div class="col-sm-3">
				{{ form.valor_inicial }}
			</div>
		</div>
		<div class="form-group">
			<label for="depreciacao" class="col-sm-2 control-label">Depreciação</label>
			<div class="col-sm-2">
				{{ form.depreciacao }}
			</div>
		</div>
		<div class="form-group">
			<label for="manutencao" class="col-sm-2 control-label">Manutenção</label>
			<div class="col-sm-2">
				{{ form.manutencao }}
			</div>
		</div>
		<div class="form-group">
			<label for="custo_hora" class="col-sm-2 control-label">Custo Hora</label>
			<div class="col-sm-2">
				{{ form.custo_hora }}
			</div>
		</div>
		<div class="form-group">
			<label for="ano" class="col-sm-2 control-label">Ano</label>
			<div class="col-sm-2">
				{{ form.ano }}
			</div>
		</div>		


		<button type="submit" class="btn btn-primary">Editar Equipamento</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

