{% extends 'base.html' %}

{% load static  %}

{% block menu_produtos %}active{% endblock menu_produtos %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock extra_css %}


{% block content %}


<div class="container">

	<h3>Insumos</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'insumo_listar' %}">Listar</a></li>
		<li role="presentation" class="active"><a href="#">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="propriedade" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="propriedade" maxlength="250" name="propriedade"  type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="produto" class="col-sm-2 control-label">Insumo</label>
			<div class="col-sm-3">
				{{ form.insumo }}
			</div>
		</div>
		<div class="form-group">
			<label for="tipi" class="col-sm-2 control-label">Fabricante</label>
			<div class="col-sm-5">
				{{ form.fabricante }}
			</div>
		</div>
		<div class="form-group">
			<label for="data_compra" class="col-sm-2 control-label">Data da Compra</label>
			<div class="col-sm-2">
				<div class="input-group">
					{{ form.data_compra }}
					<label for="id_data_compra" class="input-group-addon btn">
						<span class="glyphicon glyphicon-calendar"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="data_validade" class="col-sm-2 control-label">Data de Validade</label>
			<div class="col-sm-2">
				<div class="input-group">
					{{ form.data_validade }}
					<label for="id_data_compra" class="input-group-addon btn">
						<span class="glyphicon glyphicon-calendar"></span>
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="preco_unidade" class="col-sm-2 control-label">Preço Unidade</label>
			<div class="col-sm-2">
				{{ form.preco_unidade }}
			</div>
		</div>
		<div class="form-group">
			<label for="celulas_bandeja" class="col-sm-2 control-label">Quantidade</label>
			<div class="col-sm-2">
				{{ form.quantidade }}
			</div>
		</div>
		<div class="form-group">
			<label for="valor_total" class="col-sm-2 control-label">Valor Total</label>
			<div class="col-sm-2">
				{{ form.valor_total }}
			</div>
		</div>		

		<button type="submit" class="btn btn-primary">Cadastrar Insumo</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>

<script src="{% static 'js/formset.js' %}"></script>

<script type="text/javascript">
$(function() {

	initFormSets({prefixes:['insumo']});

	$(".date-picker").datepicker();
	
});
</script>

{% endblock extra_js %}