{% extends 'base.html' %}

{% load static  %}

{% block menu_produto %}active{% endblock menu_produto %}

{% block content %}


<div class="container">
	<p>
	{% include 'messages.html' %}
	<h3>Insumos</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Listar</a></li>
		<li role="presentation"><a href="{% url 'insumo_cadastrar' %}">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<table class=table> 
		<!-- <caption>Optional table caption.</caption> -->
		<thead> 
			<tr>
				<th>#</th>
				<th>Insumo</th> 
				<th>Fabricante</th> 
				<th>Quantidade</th> 
				<th>Data da Compra</th>
				<th>Data de Validade</th>
				<th>Gerenciar</th> 
			</tr> 
		</thead> 
		<tbody> 
			{% for p in insumo %}
			<tr> 
				<th scope=row>{{ p.id }}</th> 
				<td>{{ p.insumo }}</td> 
				<td>{{ p.fabricante }}</td>
				<td>{{ p.quantidade }}</td>
				<td>{{ p.data_compra }}</td> 
				<td>{{ p.data_validade }}</td> 

				<td>
					<a href="{% url 'insumo_editar' p.id %}"><img src="{% static 'img/edit.png' %}" alt="editar"></a>
					<a href="{% url 'insumo_remover' p.id %}" onclick="return confirm('Apagar registro?')"><img src="{% static 'img/delete.png' %}" alt="apagar"></a>
				</td> 
			</tr> 
			{% endfor %}

		</tbody> 
	</table> 


	</div>

	{% endblock content %}