{% extends 'base.html' %}

{% load static  %}

{% block menu_produtos %}active{% endblock menu_produtos %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock extra_css %}


{% block content %}


<div class="container">

	<h3>Mão de Obra</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'produto_listar' %}">Listar</a></li>
		<li role="presentation" class="active"><a href="#">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="propriedade" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="propriedade" maxlength="250" name="propriedade"  type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="produto" class="col-sm-2 control-label">Produto</label>
			<div class="col-sm-3">
				{{ form.produto }}
			</div>
		</div>
		<div class="form-group">
			<label for="tipi" class="col-sm-2 control-label">Tipo</label>
			<div class="col-sm-3">
				{{ form.tipo }}
			</div>
		</div>
		<div class="form-group">
			<label for="variedade" class="col-sm-2 control-label">Variedade</label>
			<div class="col-sm-3">
				{{ form.variedade }}
			</div>
		</div>
		<div class="form-group">
			<label for="ciclo_viveiro" class="col-sm-2 control-label">Ciclo Viveiro</label>
			<div class="col-sm-2">
				{{ form.ciclo_viveiro }}
			</div>
		</div>
		<div class="form-group">
			<label for="ciclo_campo" class="col-sm-2 control-label">Ciclo Campo</label>
			<div class="col-sm-2">
				{{ form.ciclo_campo }}
			</div>
		</div>
		<div class="form-group">
			<label for="celulas_bandeja" class="col-sm-2 control-label">Células por bandeja</label>
			<div class="col-sm-2">
				{{ form.celulas_bandeja }}
			</div>
		</div>
		<div class="form-group">
			<label for="densidade" class="col-sm-2 control-label">Densidade</label>
			<div class="col-sm-2">
				{{ form.densidade }}
			</div>
		</div>		
		<div class="form-group">
			<label for="tipo_plantio" class="col-sm-2 control-label">Tipo do Plantio</label>
			<div class="col-sm-2">
				{{ form.tipo_plantio }}
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Cadastrar Produto</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

