{% extends 'base.html' %}

{% load static  %}

{% block menu_colheita %}active{% endblock menu_colheita %}

{% block content %}


<div class="container">
	{% include 'messages.html' %}
	<h3>Colheita</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'colheita_listar' %}">Listar</a></li>
		<li role="presentation"><a href="{% url 'colheita_cadastrar' %}">Cadastrar</a></li>
		<li role="presentation" class="active"><a href="#">Síntese</a></li>
	</ul>

	<p>&nbsp;</p>

	<p><b>Total de lotes:</b> {{ lote.count }}</p>

	<p><b>Número de produtos colhidos:</b> {{ unidade_produto.count }}</p>

	<p><b>Total de unidades colhidas:</b> {{ total_unidades.unidades__sum }}</p>

	<p><b>Colheita por produto:</b></p>
		{% for p in unidade_produto %}
			{{ p.lote_plantio__produto__produto }} {{ p.lote_plantio__produto__tipo }} - {{ p.unidades__sum }}  

			{% ifequal p.tipo_unidade "1" %} Maço(s) {% endifequal %}
			{% ifequal p.tipo_unidade "2" %} Unidade(s) {% endifequal %}
			{% ifequal p.tipo_unidade "4" %} Kg {% endifequal %}
			{% ifequal p.tipo_unidade "6" %} Dúzia(s) {% endifequal %}


			<br>

		{% endfor %}
	</p>

</div>

{% endblock content %}