{% extends 'base.html' %}

{% load static  %}

{% block menu_colheita %}active{% endblock menu_colheita %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="container">

	<h3>Colheita</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'colheita_listar' %}">Listar</a></li>
		<li role="presentation" class="active"><a href="#">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<form name="colheita" method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="propriedade" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="propriedade" maxlength="250" name="propriedade" type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="data_colheita" class="col-sm-2 control-label">Data da colheita</label>
			<div class="col-sm-2">
				<div class="input-group">
					{{ form.data_colheita }}
					<label for="id_data_colheita" class="input-group-addon btn">
						<span class="glyphicon glyphicon-calendar"></span>
	                </label>
				</div>
			</div>
		</div>
		<div id="lote_plantio">
			<div class="form-group">
				<label for="lote_plantio" class="col-sm-2 control-label">Lote Plantio</label>
				<div class="col-sm-4">
					{{ form.lote_plantio }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="lote" class="col-sm-2 control-label">Lote Colheita</label>
			<div class="col-sm-2">
				{{ form.lote }}
			</div>
		</div>
		<div class="form-group">
			<label for="unidades" class="col-sm-2 control-label">Unidades colhidas</label>
			<div class="col-sm-2">
				{{ form.unidades }}
			</div>
		</div>
		<div class="form-group">
			<label for="tipo_unidade" class="col-sm-2 control-label">Tipo da Unidade</label>
			<div class="col-sm-2">
				{{ form.tipo_unidade }}
			</div>
		</div>
		{{ mdo_formset.management_form }}
		<div class="row colheita_row">
			<div class="form-group">
				<label for="nome" class="col-sm-offset-2 col-sm-3">Trabalhador</label>
				<label for="horas" class="col-sm-2 ">Horas trabalhadas</label>
			</div>
			{% for form_mdo in mdo_formset %}
			<div class="wrapper">

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-3">
						{{ form_mdo.nome }}
						{% if form_mdo.nome.errors %}
						{% for error in form_mdo.nome.errors %}
						{{ error|escape }}
						{% endfor %}
						{% endif %}
					</div>
					<div class="col-sm-2">
						{{ form_mdo.horas }}
						{% if form_mdo.horas.errors %}
						{% for error in form_mdo.horas.errors %}
						{{ error|escape }}
						{% endfor %}
						{% endif %}
					</div>
				</div>

			</div>
			<div style="display: none">
				{{ form_mdo.id }}
				{{ form_mdo.DELETE }}
			</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				<a class="btn btn-danger btn-xs removeForm" data-formset="colheita" title="Remover"><i class="glyphicon glyphicon-minus"></i></a>
				<a class="btn btn-success btn-xs addForm" data-formset="colheita" title="Adicionar"><i class="glyphicon glyphicon-plus"></i></a>
			</div> 
		</div>


		<button type="submit" class="btn btn-primary">Cadastrar Colheita</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/colheita_cadastrar.js' %}"></script>

<script src="{% static 'js/formset.js' %}"></script>

<script type="text/javascript">
$(function() {


	initFormSets({prefixes:['colheita']});

	$(".date-picker").datepicker();
	
});
</script>

{% endblock extra_js %}