{% extends 'base.html' %}

{% load static  %}

{% block menu_plantio %}active{% endblock menu_plantio %}

{% block content %}


<div class="container">
	{% include 'messages.html' %}
	<h3>Plantio</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'plantio_listar' %}">Listar</a></li>
		<li role="presentation"><a href="{% url 'plantio_cadastrar' %}">Cadastrar</a></li>
		<li role="presentation" class="active"><a href="#">Síntese</a></li>
	</ul>

	<p>&nbsp;</p>

	<p><b>Total de lotes:</b> {{ lote.count }}</p>

	<p><b>Número de produtos plantados:</b> {{ unidade_produto.count }}</p>

	<p><b>Total de unidades plantadas:</b> {{ total_unidades.unidades__sum }}</p>

	<p><b>Unidades por produto:</b></p>
		{% for p in unidade_produto %}
			{{ p.produto__produto }} {{ p.produto__tipo }} - {{ p.unidades__sum }} <br>

		{% endfor %}
	</p>

</div>

{% endblock content %}