
{% extends 'base.html' %}

{% load static  %}

{% block menu_semeio %}active{% endblock menu_semeio %}

{% block content %}

<div class="container">
	{% include 'messages.html' %}
	<h3>Semeio</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Listar</a></li>
		<li role="presentation"><a href="{% url 'semeio_cadastrar' %}">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<table class=table> 
		<!-- <caption>Optional table caption.</caption> -->
		<thead> 
			<tr>
				<th>Lote 
					<a href="{% url 'semeio_listar' %}?order=lote"><span class="glyphicon glyphicon-sort-by-attributes" style="font-size:12px;"></a>
					<a href="{% url 'semeio_listar' %}?order=-lote"><span class="glyphicon glyphicon-sort-by-attributes-alt" style="font-size:12px;"></a>
				</th>
				<th>Data 
					<a href="{% url 'semeio_listar' %}?order=data_semeio"><span class="glyphicon glyphicon-sort-by-attributes" style="font-size:12px;"></span></a>
					<a href="{% url 'semeio_listar' %}?order=-data_semeio"><span class="glyphicon glyphicon-sort-by-attributes-alt" style="font-size:12px;"></span></a>
				</th> 
				<th>Produto
					<a href="{% url 'semeio_listar' %}?order=produto"><span class="glyphicon glyphicon-sort-by-attributes" style="font-size:12px;"></a>
					<a href="{% url 'semeio_listar' %}?order=-produto"><span class="glyphicon glyphicon-sort-by-attributes-alt" style="font-size:12px;"></span></a>
				</th>
				<th>Unidades</th> 
				<th>Plantadas</th> 
				<th>Mdo Alocada</th> 
				<th>Gerenciar</th> 
			</tr> 
		</thead> 
		<tbody> 
			{% for lote in lote %}
			<tr> 
				<th scope=row>{{ lote.lote }}</th> 
				<td>{{ lote.data_semeio }}</td> 
				<td>{{ lote.produto }}</td> 
				<td>{{ lote.unidades }}</td> 
				<td>{{ lote.unidades_plantadas}}</td> 
				<td>{{ lote.semeio.all.count }}</td> 
				<td>
					{% if lote.status_lote == "1" %}
						<a href="{% url 'semeio_fechar_abrir' lote.id %}" onclick="return confirm('Fechar/arquivar lote?')"><img src="{% static 'img/archive.png' %}" alt="fechar/abrir lote"></a>
					{% else %}
						<a href="{% url 'semeio_fechar_abrir' lote.id %}" onclick="return confirm('Reabrir lote?')"><img src="{% static 'img/open.png' %}" alt="reabrir lote"></a>
					{% endif %}	
					<a href="{% url 'semeio_editar' lote.id %}"><img src="{% static 'img/edit.png' %}" alt="editar"></a>
					<a href="{% url 'semeio_remover' lote.id %}" onclick="return confirm('Remover lote?')"><img src="{% static 'img/delete.png' %}" alt="apagar"></a>
				</td> 
			</tr> 
			{% endfor %}

		</tbody> 
	</table> 


	</div>

	{% endblock content %}